!!!
%html
  %head
    %title Irmingard
    %meta{:charset => 'utf-8'}
    %link{rel: 'shortcut icon', href: '/favicon.png'}
    = stylesheet_link_tag 'application', :media => 'all'
    /[if lt IE 9]
      = javascript_include_tag 'ie', 'json2'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = include_gon

  %body
    -# preload images
    %div{:style => 'display: none'}
      - %w(back.gif 10_of_clubs.gif 10_of_diamonds.gif 10_of_hearts.gif 10_of_spades.gif 2_of_clubs.gif 2_of_diamonds.gif 2_of_hearts.gif 2_of_spades.gif 3_of_clubs.gif 3_of_diamonds.gif 3_of_hearts.gif 3_of_spades.gif 4_of_clubs.gif 4_of_diamonds.gif 4_of_hearts.gif 4_of_spades.gif 5_of_clubs.gif 5_of_diamonds.gif 5_of_hearts.gif 5_of_spades.gif 6_of_clubs.gif 6_of_diamonds.gif 6_of_hearts.gif 6_of_spades.gif 7_of_clubs.gif 7_of_diamonds.gif 7_of_hearts.gif 7_of_spades.gif 8_of_clubs.gif 8_of_diamonds.gif 8_of_hearts.gif 8_of_spades.gif 9_of_clubs.gif 9_of_diamonds.gif 9_of_hearts.gif 9_of_spades.gif ace_of_clubs.gif ace_of_diamonds.gif ace_of_hearts.gif ace_of_spades.gif jack_of_clubs.gif jack_of_diamonds.gif jack_of_hearts.gif jack_of_spades.gif king_of_clubs.gif king_of_diamonds.gif king_of_hearts.gif king_of_spades.gif queen_of_clubs.gif queen_of_diamonds.gif queen_of_hearts.gif queen_of_spades.gif).each do |image_name|
        = image_tag image_name
    = link_to 'https://github.com/paulwittmann/irmingard-backbone' do
      %img.fork-me{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"}
    #l-game-container
    #l-lightbox
      Download a file with your current game state:
      = link_to 'Download save game', '#', :class => 'octet-download', :download => 'irmingard.js'
      #file-drop-zone
        .file-drop-zone--note
          Drag and drop save game file here
          <br>
          to load it.

